body{
    background-color:  rgba(255, 255, 255, 0.667);
    border-radius: 20px;
    border: 2px solid ;
    align-items: center;
    margin:200px;
    height:fit-content;
    

}
h1{
    text-align: center;
    font-family:cursive;
text-transform: uppercase;
}
input{
    text-align: center;
    border-radius: 4px;
    
}
html{
    background-color:blueviolet;

}
div{
    text-align: center;

}
button{
    position: relative;
    top: 20px;
    font-size: larger;
    
}
button:hover{
    color:white;
    background-color: rgb(0, 110, 255);
}
#result{
    position: relative;
    left:400px;
    top: 90px;
    color: white;
    background-color: green;
    width: fit-content;
    padding: 30px;
    border-radius: 13px;
    text-decoration: bold;
    border: 2px double white;
}
